.dragonruby/
docs/
include/
samples/
tmp/
CHANGELOG-CURR.txt
CHANGELOG-PREV.txt
console-logo.png
ctags-emacs
ctags-vim
dragonruby-bind.exe
dragonruby-controller.png
dragonruby-httpd.exe
dragonruby-publish.exe
dragonruby-replay.exe
dragonruby.exe
dragonruby.png
ffmpeg.exe
font.ttf
open-source-licenses.txt
VERSION.txt
mygame/sprites/circle/
mygame/sprites/hexagon/
mygame/sprites/isometric/
mygame/sprites/misc/
mygame/sprites/square/
mygame/sprites/tile/
exceptions/
console_history.txt
logs/